<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>VanishingTicTacToe.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<true/>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>6E2CEB66FC346575121309DD7DEF09BA3EB3E454</string>
				<key>dateExpires</key>
				<string>18/02/2023</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>SSB4BC863M.com.eandmcreations.vanishingxo</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>SSB4BC863M</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>SSB4BC863M.com.eandmcreations.vanishingxo</string>
				</array>
			</dict>
			<key>name</key>
			<string>VanishingTicTacToe.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>d55223c4-8599-4451-9e70-0ef8af3ce9f6</string>
				<key>dateExpires</key>
				<string>18/02/2023</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.eandmcreations.vanishingxo</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>SSB4BC863M</string>
				<key>name</key>
				<string>Emad ElSheshtawy</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
